* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    color: #c6c7c7;
    font-size: 30px;
    background-color: #315d5e;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #315d5e;
    gap: 10px;
    width: 400px;
    height: 100px;
}

nav ul li {
    display: block;
    width: 200px;
}

nav ul li a{
    padding: 30px;
    display: block;
    text-decoration: none;
    align-self: center;
    justify-self: center;
    color: #c6c7c7;
}

nav ul li:hover {
    display: block;
    background-color: #284c4d;
}

body {
    background-color: #8f9393;
}
main h2 {
    display: grid;
    justify-content: center;
    font-size: 50px;
}

main h4 {
    display: grid;
    justify-content: center;
    font-size: 30px;
}

img {
    display: flex;
    flex-grow: 1;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#hero {
    display: grid;
    align-items: center;
    padding: 30px;
}

main #hero {
    width: 100%;
    background-color: #284141;
    color: #c6c7c7;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 50px;
    margin: 50px;
    justify-content: center;
}

.card {
    display: grid;
    width: 600pxpx;
    border-radius: 10px;
    background-color: #284141;
    gap: 2px;
    color: #c6c7c7;
}

.card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8efef;
}

.card p {
    display: flex;
    text-align: center;
    justify-content: center;
}

.preco {
    display: flex;
    align-items: center;
    align-content: center;
    color: #e8efef;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #315d5e;
    color: #c6c7c7;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    list-style: none;
    background-color: #315d5e;
    justify-content: center;
}

footer ul li a{
    text-decoration: none;
    color: #c6c7c7;
}

footer ul li a:hover {
    color: #161516;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}